<%= render "layouts/form_errors", resource: @mac_authentication_bypasses_import %>

<%= form_with model: @mac_authentication_bypasses_import, local: true do |f| %>
  <h2 class="govuk-heading-l">Import bypasses</h2>

  <div class="govuk-form-group">
    <%= f.label :bypasses, class: "govuk-label" %>
    <%= f.file_field :bypasses, class: "govuk-file-upload" %>
  </div>

  <%= f.submit "Upload", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", mac_authentication_bypasses_path,
    class: "govuk-button govuk-button--secondary",
    data: {
      module: "govuk-button"
    }
  %>
<% end %>
