<div>
  <h2 class="govuk-heading-l">VLANs</h2>

  <% if can? :create, Vlan %>
    <%= link_to "Create a new VLAN", new_vlan_path, class: "govuk-button" %>
  <% end %>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">VLAN</th>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @vlans.each do |vlan| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= vlan.vlan %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, Vlan %>
              <%= link_to "Manage", vlan_path(vlan), class: "govuk-link" %>
              <%= link_to "Delete", vlan_path(vlan), class:"govuk-link", method: :delete %>
            <% else %>
              <%= link_to "View", vlan_path(vlan), class: "govuk-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
