<%= form_with(model: response, url: path, local: true) do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :response_attribute) %>">
    <%= f.label :response_attribute, class: "govuk-label" %>
    <%= render "shared/radius_attribute_selector", field_name: :response_attribute, form: f, selector: selector %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :value) %>">
    <%= f.label :value, class: "govuk-label" %>
    <%= f.text_field :value, class: "govuk-input" %>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", cancel_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

<% end %>
