<%= form_with(model: response, url: path, local: true) do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :response_attribute) %>">
    <%= f.label :response_attribute, class: "govuk-label" %>

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <%= f.radio_button "response-attribute", "dictionary", {
            checked: AttributesHelper.responses.include?(response.response_attribute),
            class: "govuk-radios__input",
            id: "response-attribute",
            'data-aria-controls': "conditional-response-attribute"
          }
        %>
        <label class="govuk-label govuk-radios__label" for="response-attribute">
          RADIUS dictionary
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-response-attribute">
        <div class="govuk-form-group">
          <%= f.select(:response_attribute, AttributesHelper.responses, { prompt: 'Select' }, { class: "govuk-select", id: "response-attribute" }) %>
        </div>
      </div>
      <div class="govuk-radios__item">
        <%= f.radio_button "response-attribute", "custom", {
            checked: !f.object.new_record? && !AttributesHelper.responses.include?(response.response_attribute),
            class: "govuk-radios__input",
            id: "response-attribute-2",
            'data-aria-controls': "conditional-response-attribute-2"
          }
        %>
        <label class="govuk-label govuk-radios__label" for="response-attribute-2">
          Custom
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-response-attribute-2">
        <div class="govuk-form-group">
          <%= f.text_field :custom_response_attribute, {
              class: "govuk-input govuk-input--width-20",
              id: "custom-response-attribute",
              value: !AttributesHelper.responses.include?(response.response_attribute) ? response.response_attribute : ""
            }
          %>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :value) %>">
    <%= f.label :value, class: "govuk-label" %>
    <%= f.text_field :value, class: "govuk-input" %>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", cancel_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

<% end %>
