<%= form_with(model: client, url: path, local: true) do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :ip_range) %>">
    <%= f.label :ip_range, "IP / Subnet CIDR", class: "govuk-label" %>
    <div id="ip-range-hint" class="govuk-hint">
      Must be an IPv4 address with a subnet; for a single IP address, use /32. For example, '127.0.0.1/32'.
    </div>
    <%= f.text_field :ip_range, class: "govuk-input" %>
  </div>

  <% unless f.object.new_record? || client.radsec? %>
    <div class="govuk-form-group <%= field_error(f.object, :shared_secret) %>">
      <%= f.label :shared_secret, "Shared secret", class: "govuk-label" %>
      <div id="shared_secret-hint" class="govuk-hint">
      It is recommended to use a combination of numbers and characters, with a minimum length of 20
      </div>
      <%= f.text_field :shared_secret, class: "govuk-input" %>
    </div>
  <% end %>

  <div class="govuk-form-group">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <%= f.check_box :radsec, checked: client.radsec?, disabled: !f.object.new_record?, class: "govuk-checkboxes__input" %>
        <%= f.label :radsec, 'RadSec', class: "govuk-label govuk-checkboxes__label" %>
      </div>
    </div>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", site_path(@site),
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

<% end %>
