<%= form_with model: mac_authentication_bypass, local: true do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :address) %>">
    <%= f.label :address, "MAC Address", class: "govuk-label" %>
    <div id="address-hint" class="govuk-hint">
      Must be lowercase and separated by a dash.<br />
      For example: aa-bb-cc-77-88-99
    </div>
    <%= f.text_field :address, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :name) %>">
    <%= f.label :name, class: "govuk-label" %>
    <div id="name-hint" class="govuk-hint">
      Must contain the make, model, and hostname in the following format: "MAKE_MODEL_HOSTNAME"<br />
      For example: XEROX_7835_MFD001
    </div>
    <%= f.text_field :name, maxlength: 255, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :description) %>">
    <%= f.label :description, class: "govuk-label" %>
    <%= f.text_area :description, maxlength: 1000, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :site) %>">
    <%= f.label "Site (optional)", class: "govuk-label" %>
    <%= render "shared/type_ahead",
      field_name: :site_id,
      form: f,
      select_options: @sites.unshift(["No site assigned (type to search)", "No site"]),
      options: {},
      html_options: { id: "site" },
      selector: "#site"
    %>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", f.object.new_record? ? mac_authentication_bypasses_path : mac_authentication_bypass_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

<% end %>
