<%= form_with model: mac_authentication_bypass, local: true do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :address) %>">
    <%= f.label :address, "MAC Address", class: "govuk-label" %>
    <div id="address-hint" class="govuk-hint">
      Must be lowercase and separated by a dash.<br />
      For example: aa-bb-cc-77-88-99
    </div>
    <%= f.text_field :address, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :name) %>">
    <%= f.label :name, class: "govuk-label" %>
    <%= f.text_field :name, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :description) %>">
    <%= f.label :description, class: "govuk-label" %>
    <%= f.text_area :description, class: "govuk-input" %>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", f.object.new_record? ? mac_authentication_bypasses_path : mac_authentication_bypass_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

<% end %>
