<div>
  <h2 class="govuk-heading-l">MAC Authentication Bypasses</h2>

  <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
      <% if can? :create, MacAuthenticationBypass %>
        <%= link_to "Create a new bypass", new_mac_authentication_bypass_path, class: "govuk-button"%>
      <% end %>
      </th>
      <th scope="col" class="govuk-table__header">
        <div style="text-align: right;">
          <%= form_with url: mac_authentication_bypasses_path, method: :get, local: true do |f| %>
            <%= f.text_field :search, value: @search, class: "govuk-input govuk-input--width-10" %>
            <%= f.submit "Search", {
            class: "govuk-button",
            "data-module" => "govuk-button"
            } %>
          <% end %>
        </div>
      </th>
    </tr>
  </table>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">List of MAC Authentication Bypasses</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= link_to "MAC Address", sort: @sort.merge({ sort_by: "address" }), search: @search %></th>
        <th scope="col" class="govuk-table__header"><%= link_to "Name", sort: @sort.merge({ sort_by: "name" }), search: @search %></th>
        <th scope="col" class="govuk-table__header"><%= link_to "Description", sort: @sort.merge({ sort_by: "description" }) %></th>
        <th scope="col" class="govuk-table__header"><%= link_to "Created", sort: @sort.merge({ sort_by: "created_at" }) %></th>
        <th scope="col" class="govuk-table__header"><%= link_to "Updated", sort: @sort.merge({ sort_by: "updated_at" }) %></th>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @mac_authentication_bypasses.each do |bypass| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= bypass.address %></td>
          <td class="govuk-table__cell"><%= bypass.name %></td>
          <td class="govuk-table__cell"><%= bypass.description %></td>
          <td class="govuk-table__cell"><%= date_format(bypass.created_at) %></td>
          <td class="govuk-table__cell"><%= date_format(bypass.updated_at) %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, MacAuthenticationBypass %>
              <%= link_to "Manage", mac_authentication_bypass_path(bypass), class:"govuk-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @mac_authentication_bypasses %>
