<div>
  <h2 class="govuk-heading-l">MAC Authentication Bypasses</h2>

  <% if can? :create, MacAuthenticationBypass %>
    <%= link_to "Create a new bypass", new_mac_authentication_bypass_path, class: "govuk-button" %>
  <% end %>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">List of MAC Authentication Bypasses</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Address</th>
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @mac_authentication_bypasses.each do |bypass| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= bypass.address %></td>
          <td class="govuk-table__cell"><%= bypass.name %></td>
          <td class="govuk-table__cell"><%= bypass.description %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, MacAuthenticationBypass %>
              <%= link_to "Change", edit_mac_authentication_bypass_path(bypass), class:"govuk-link" %>
              <%= link_to "Delete", mac_authentication_bypass_path(bypass), class:"govuk-link", method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
