<h2 class="govuk-heading-l">
  <span class="govuk-caption-l">MAC Authentication Bypass</span>
  <%= @mac_authentication_bypass.name %>
</h2>
<p class="govuk-body">
  <span class="govuk-!-font-weight-bold">Site:</span>
  <% if @mac_authentication_bypass.site %>
    <%= link_to "#{@mac_authentication_bypass.site.try(:name)}", site_path(@mac_authentication_bypass.site), class: "govuk-link" %>
  <% else %>
    <%= "There is no site attached to this MAC address." %>
  <% end %>
</p>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">MAC Address</dt>
    <dd class="govuk-summary-list__value"><%= @mac_authentication_bypass.address %></dd>
    <dt class="govuk-summary-list__key">Description</dt>
    <dd class="govuk-summary-list__value"><%= @mac_authentication_bypass.description %></dd>
    <dd class="govuk-summary-list__actions">
    <% if can? :manage, MacAuthenticationBypass %>
      <%= link_to edit_mac_authentication_bypass_path(@mac_authentication_bypass), class: "govuk-link" do %>
        Change<span class="govuk-visually-hidden"> bypass details</span>
      <% end %>
    <% end %>
    </dd>
  </div>
</dl>

<% if can? :create, MabResponse %>
  <%= link_to "Add response", new_mac_authentication_bypass_mab_response_path(mac_authentication_bypass_id: @mac_authentication_bypass), class: "govuk-button" %>
<% end %>

<% if @mac_authentication_bypass.responses.any? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption">List of responses</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Attribute</th>
        <th scope="col" class="govuk-table__header">Value</th>
        <th scope="col" class="govuk-table__header">Created</th>
        <th scope="col" class="govuk-table__header">Updated</th>
        <th scope="col" class="govuk-table__header">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @mac_authentication_bypass.responses.each do |response| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= response.response_attribute %></td>
          <td class="govuk-table__cell"><%= response.value %></td>
          <td class="govuk-table__cell"><%= date_format(response.created_at) %></td>
          <td class="govuk-table__cell"><%= date_format(response.updated_at) %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, Response %>
              <%= link_to "Edit", edit_mac_authentication_bypass_mab_response_path(mac_authentication_bypass_id: @mac_authentication_bypass, id: response), class:"govuk-link" %>
              <%= link_to "Delete", mac_authentication_bypass_mab_response_path(mac_authentication_bypass_id: @mac_authentication_bypass, id: response), class:"govuk-link", method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if can? :manage, MacAuthenticationBypass %>
  <%= link_to "Delete MAB", mac_authentication_bypass_path(@mac_authentication_bypass), class:"govuk-button govuk-button--warning", method: :delete %>
<% end %>
