<h2 class="govuk-heading-l">Audit Log</h2>
<div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    </div>
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row search_bar">
        <%= search_form_for @q do |f| %>
            <div class="govuk-grid-column-one-thirds">
              <%= f.select(:action, @auditable_actions, { selected: @selected_action }, { class: "govuk-select" }) %>
              <%= f.select(:auditable_type, @auditable_types, { selected: @selected_type }, { class: "govuk-select" }) %>
              <%= f.submit "Search", { class: "govuk-button", "data-module" => "govuk-button" } %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

<table class="govuk-table" id="audit-results">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">User</th>
      <th scope="col" class="govuk-table__header"><%= sort_link(@q, :action) %></th>
      <th scope="col" class="govuk-table__header"><%= sort_link(@q, :auditable_type, "Record") %></th>
      <th scope="col" class="govuk-table__header"><%= sort_link(@q, :created_at) %></th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @audits.each do |audit| %>
      <% presenter = present(audit) %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= audit.email || "System" %></td>
        <td class="govuk-table__cell"><%= audit.action %></td>
        <td class="govuk-table__cell"><%= presenter.name %></td>
        <td class="govuk-table__cell"><%= date_format(audit.created_at) %></td>
        <td class="govuk-table__cell"><%= link_to "Details", audit_path(audit), class: "govuk-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @audits %>
