<h2 class="govuk-heading-l">Audit Log</h2>

<table class="govuk-table">
  <caption class="govuk-table__caption">List of audited changes</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">User</th>
      <th scope="col" class="govuk-table__header">Action</th>
      <th scope="col" class="govuk-table__header">Record</th>
      <th scope="col" class="govuk-table__header">Datetime</th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @audits.each do |audit| %>
      <% presenter = present(audit) %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= audit.email || "System" %></td>
        <td class="govuk-table__cell"><%= audit.action %></td>
        <td class="govuk-table__cell"><%= presenter.name %></td>
        <td class="govuk-table__cell"><%= date_format(audit.created_at) %></td>
        <td class="govuk-table__cell"><%= link_to "Details", audit_path(audit), class: "govuk-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @audits %>
