<%= form_with model: @certificate, local: true do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :category) %>">
    <%= f.label :category, class: "govuk-label" %>
    <%= f.select(:category, %i(EAP RADSEC), {}, { class: "govuk-select" }) %>
  </div>

  <div class="govuk-form-group">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <%= f.check_box :server_certificate, class: "govuk-checkboxes__input" %>
        <%= f.label :server_certificate, class: "govuk-label govuk-checkboxes__label" %>
      </div>
    </div>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :name) %>">
    <%= f.label :name, class: "govuk-label" %>
    <%= f.text_field :name, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :description) %>">
    <%= f.label :description, class: "govuk-label" %>
    <%= f.text_field :description, class: "govuk-input" %>
  </div>

<% if f.object.new_record? %>
  <div class="govuk-form-group">
    <%= f.label :certificate, class: "govuk-label" %>
    <%= f.file_field :certificate, class: "govuk-file-upload" %>
  </div>
<% end %>

  <%= f.submit f.object.new_record? ? "Upload" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", certificates_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
  %>

<% end %>
