<h2 class="govuk-heading-l">Are you sure you want to delete this certificate?</h2>

<div class="govuk-inset-text">
  <p class="govuk-body">
    <span class="govuk-!-font-weight-bold">Name:</span> <%= @certificate.name %>
  </p>
  <p class="govuk-body">
    <span class="govuk-!-font-weight-bold">Description:</span> <%= @certificate.description %>
  </p>
  <p class="govuk-body">
    <span class="govuk-!-font-weight-bold">Subject:</span> <%= @certificate.subject %>
  </p>
  <p class="govuk-body">
    <span class="govuk-!-font-weight-bold">Expiry Date:</span> <%= @certificate.expiry_date %>
  </p>
</div>

<%=
  render "shared/destroy_confirmation",
  resource_name: "certificate",
  delete_path: certificate_path(@certificate),
  cancel_path: certificates_path
%>
