<h2 class="govuk-heading-l"><%= @certificate.name %></h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Category</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.category %></dd>
    </dd>
  </div>
</dl>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Description</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.description %></dd>
    </dd>
  </div>
</dl>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Server certificate</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.server_certificate? ? "Yes" : "No" %></dd>
    </dd>
  </div>
</dl>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Expiry Date</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.expiry_date %></dd>
  </div>
</dl>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Subject</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.subject %></dd>
  </div>
</dl>

<% unless @certificate.issuer.nil? %>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Issuer</dt>
      <dd class="govuk-summary-list__value"><%= @certificate.issuer %></dd>
    </div>
  </dl>
<% end %>

<% unless @certificate.serial.nil? %>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Serial</dt>
      <dd class="govuk-summary-list__value"><%= @certificate.serial %></dd>
    </div>
  </dl>
<% end %>

<% unless @certificate.extensions.nil? %>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Extensions</dt>
      <dd class="govuk-summary-list__value"><pre><code><%= @certificate.extensions %></code></pre></dd>
    </div>
  </dl>
<% end %>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Certificate File</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.filename %></dd>
  </div>
</dl>

<% if can? :manage, Certificate %>
  <%= link_to "Delete certificate", certificate_path(@certificate), class:"govuk-button govuk-button--warning", method: :delete %>
<% end %>
