<h2 class="govuk-heading-l"><%= @certificate.name %></h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Category</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.category %></dd>
    </dd>
  </div>
</dl>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Description</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.description %></dd>
    </dd>
  </div>
</dl>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Subject</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.subject %></dd>
  </div>
</dl>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Expiry Date</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.expiry_date %></dd>
  </div>
</dl>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Certificate File</dt>
    <dd class="govuk-summary-list__value"><%= @certificate.filename %></dd>
  </div>
</dl>
