<%= form_tag(sites_imports_path, multipart: true) do %>
  <h2 class="govuk-heading-l">Import sites with clients</h2>

  <div class="govuk-form-group">
    <div id="csv-hint" class="govuk-hint">
      Header must contain the following: "<%= UseCases::CSVImport::SitesWithClients::CSV_HEADERS %>".<br /><br />
      Clients must be separated by a semicolon.<br />
      For example: 127.0.0.1/32;128.0.0.1/32<br /><br />
      Policies must be separated by a semicolon.<br />
      For example: First Policy;Second Policy<br /><br />
      Fallback Policy Responses must be separated by a semicolon.<br />
      For example: Tunnel-Type=VLAN;Reply-Message=Welcome;SG-Tunnel-Id=333<br /><br />
      File must be a valid CSV with UTF-8 encoding.<br />
    </div>
    <%= file_field :sites_with_clients, :file, { id: :csv_file, class: "govuk-file-upload", required: true } %>
  </div>

  <%= submit_tag "Upload", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", sites_path,
    class: "govuk-button govuk-button--secondary",
    data: {
      module: "govuk-button"
    }
  %>
<% end %>
