<%= form_with(model: rule, url: path, local: true) do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :request_attribute) %>">
    <%= f.label :Request_attribute, class: "govuk-label" %>

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <%= f.radio_button "request-attribute", "dictionary", { checked: AttributesHelper.requests.include?(rule.request_attribute), class: "govuk-radios__input", id: "request-attribute", 'data-aria-controls': "conditional-request-attribute" } %>
        <label class="govuk-label govuk-radios__label" for="request-attribute">
          RADIUS dictionary
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-request-attribute">
        <div class="govuk-form-group">
          <%= f.select(:request_attribute, AttributesHelper.requests, { prompt: 'Select' }, { class: "govuk-select", id: "request-attribute" }) %>
        </div>
      </div>
      <div class="govuk-radios__item">
        <%= f.radio_button "request-attribute", "custom", { checked: !f.object.new_record? && !AttributesHelper.requests.include?(rule.request_attribute), class: "govuk-radios__input", id: "request-attribute-2", 'data-aria-controls': "conditional-request-attribute-2" } %>
        <label class="govuk-label govuk-radios__label" for="request-attribute-2">
          Custom
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-request-attribute-2">
        <div class="govuk-form-group">
          <%= f.text_field :custom_request_attribute, class: "govuk-input govuk-input--width-20", id: "custom-request-attribute" %>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :operator) %>">
    <%= f.label :operator, class: "govuk-label" %>
    <%= f.select(:operator, %w(equals contains), { prompt: 'Select' }, { class: "govuk-select" }) %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :value) %>">
    <%= f.label :value, class: "govuk-label" %>
    <%= f.text_field :value, class: "govuk-input" %>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", policy_path(@policy),
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

<% end %>
