<%= form_with model: site, local: true do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :name) %>">
    <%= f.label :name, class: "govuk-label" %>
    <div id="name-hint" class="govuk-hint">
      Must contain the FITS ID, type and location in the following format: "FITS-XXXX-TYPE-LOCATION"<br />
      For example: FITS-1234-Probation-Maidstone
    </div>
    <%= f.text_field :name, maxlength: 230, class: "govuk-input" %>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", f.object.new_record? ? sites_path : @site,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  } %>
<% end %>
