<h2 class="govuk-heading-l">Are you sure you want to delete this site?</h2>

<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Site name: <%= @site.name %></h4>
  <div class="govuk-body">
    <p><%="#{pluralize(@site.clients.count, "client")} will be deleted." %></p>
    <p><%="#{pluralize(@site.policies.count, "policy")} will be detached." %></p>
    <p><%="#{pluralize(@site.mac_authentication_bypasses.count, "mac authentication bypass")} will be deleted." %></p>
  </div>
</div>

<%=
  render "shared/destroy_confirmation",
  resource_name: "site",
  delete_path: site_path(@site),
  cancel_path: site_path(@site)
%>
