<div>
  <h2 class="govuk-heading-l">Sites</h2>
  <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
        <% if can? :create, Site %>
          <%= link_to "Create a new site", new_site_path, class: "govuk-button" %>
        <% end %>
      </th>
      <th scope="col" class="govuk-table__header search_bar">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :name_cont, class: 'govuk-input govuk-input--width-10' %>

          <%= f.submit "Search", { class: "govuk-button", "data-module" => "govuk-button" } %>
        <% end %>
      </th>
    </tr>
  </table>

  <table class="govuk-table">
    <caption class="govuk-table__caption">List of sites</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :name) %></th>
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :created_at) %></th>
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :updated_at) %></th>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @sites.each do |site| %>
        <tr class="govuk-table__row" id="site-row-<%= site.id %>">
          <td class="govuk-table__cell"><%= site.name %></td>
          <td class="govuk-table__cell"><%= date_format(site.created_at) %></td>
          <td class="govuk-table__cell"><%= date_format(site.updated_at) %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, Site %>
              <%= link_to "Manage", site_path(site), class: "govuk-link" %>
            <% else %>
              <%= link_to "View", site_path(site), class: "govuk-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @sites %>
