<div>
  <h2 class="govuk-heading-l">Sites</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <% if @policy %>
          <h4 class="govuk-heading-m">For policy: <%= link_to @policy.name, policy_path(@policy), class: "govuk-link" %>
        <% elsif can? :create, Site %>
          <%= link_to "Create a new site", new_site_path, class: "govuk-button" %><br />
          <%= link_to "Import sites with clients", new_sites_import_path, class: "govuk-button govuk-button--secondary"%>
          <%= link_to "Export sites with clients", new_sites_export_path, class: "govuk-button govuk-button--secondary"%>
        <% end %>
    </div>
    <div class="govuk-grid-column-one-half search_bar">
      <%= search_form_for @q do |f| %>
        <%= f.hidden_field :policy_id, value: @policy_id %>
        <%= f.search_field :name_or_clients_ip_range_cont, class: 'govuk-input govuk-input--width-10' %>

        <%= f.submit "Search", { class: "govuk-button", "data-module" => "govuk-button" } %>
      <% end %>
    </div>
  </div>

  <table class="govuk-table">
    <caption class="govuk-table__caption">List of sites</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :name) %></th>
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :created_at) %></th>
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :updated_at) %></th>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @sites.each do |site| %>
        <tr class="govuk-table__row" id="site-row-<%= site.id %>">
          <td class="govuk-table__cell"><%= site.name %></td>
          <td class="govuk-table__cell"><%= date_format(site.created_at) %></td>
          <td class="govuk-table__cell"><%= date_format(site.updated_at) %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, Site %>
              <%= link_to "Manage", site_path(site), class: "govuk-link" %>
            <% else %>
              <%= link_to "View", site_path(site), class: "govuk-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @sites %>
