<h2 class="govuk-heading-l"><%= @site.name %></h2>

<%= form_with local: true do |f| %>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <div id="contact-hint" class="govuk-hint">
        Select all policies to attach to this site.
      </div>
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <%= f.collection_check_boxes :policy_ids, Policy.all, :id, :name do |b| %>
          <div class="govuk-checkboxes__item">
            <%= b.check_box class: "govuk-checkboxes__input" %>
            <%= b.label class: "govuk-label govuk-checkboxes__label" %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>

  <%= f.submit "Attach", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", @site,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  } %>

<% end %>
