<h2 class="govuk-heading-l"><%= @site.name %></h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value"><%= @site.name %></dd>
    <dt class="govuk-summary-list__key">Tag</dt>
    <dd class="govuk-summary-list__value"><%= @site.tag %></dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_site_path(@site), class: "govuk-link" do %>
        Change<span class="govuk-visually-hidden"> name</span>
      <% end %>
    </dd>
  </div>
</dl>

<% if can? :manage, Site %>
  <%= link_to "Manage policies", site_policies_path(site_id: @site), class: "govuk-button" %>
<% end %>

<h3 class="govuk-heading-m">List of attached policies</h3>
<p class="govuk-body">
  <span class="govuk-!-font-weight-bold">Fallback policy:</span>
  <% if @site.fallback_policy %>
    <%= link_to "#{@site.fallback_policy.try(:name)}", policy_path(@site.fallback_policy), class: "govuk-link" %>
  <% else %>
    <%= "There are no fallback policies attached to this site." %>
  <% end %>
</p>

<% if @site_policies.any? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row__head">
        <th scope="col" class="govuk-table__header">Policy</th>
        <th scope="col" class="govuk-table__header">Created</th>
        <th scope="col" class="govuk-table__header">Updated</th>
        <th scope="col" class="govuk-table__header">
          <%= link_to "Order policies", edit_site_policies_path(@site), class: "govuk-link" %>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @site_policies.each do |sp| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= sp.policy.name %></td>
          <td class="govuk-table__cell"><%= date_format(sp.created_at) %></td>
          <td class="govuk-table__cell"><%= date_format(sp.updated_at) %></td>
          <td class="govuk-table__cell"><%= link_to "View", policy_path(sp.policy), class: "govuk-link" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if can? :create, Client %>
  <%= link_to "Create authorised client", new_site_client_path(site_id: @site), class: "govuk-button" %>
<% end %>

<% if @site.clients.any? %>
  <table class="govuk-table">
    <h3 class="govuk-heading-m">List of Authorised Clients</h3>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">IP / Subnet CIDR</th>
        <th scope="col" class="govuk-table__header">Shared Secret</th>
        <th scope="col" class="govuk-table__header">Created</th>
        <th scope="col" class="govuk-table__header">Updated</th>
        <th scope="col" class="govuk-table__header">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @site.clients.each do |client| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= client.ip_range %></td>
          <td class="govuk-table__cell"><%= client.shared_secret %></td>
          <td class="govuk-table__cell"><%= date_format(client.created_at) %></td>
          <td class="govuk-table__cell"><%= date_format(client.updated_at) %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, Client %>
              <%= link_to "Edit", edit_site_client_path(site_id: @site, id: client), class:"govuk-link" %>
              <%= link_to "Delete", site_client_path(site_id: @site, id: client), class:"govuk-link", method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if can? :manage, Site %>
  <%= link_to "Delete", site_path(@site), class:"govuk-button", method: :delete %>
<% end %>
