<h2 class="govuk-heading-l">Site <%= @site.name %></h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value"><%= @site.name %></dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_site_path(@site), class: "govuk-link" do %>
        Change<span class="govuk-visually-hidden"> name</span>
      <% end %>
    </dd>
  </div>
</dl>

<% if can? :create, Client %>
  <%= link_to "Add client", new_site_client_path(site_id: @site), class: "govuk-button" %>
<% end %>

<% if @site.clients.any? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption">List of Authorised Clients</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">IP / Subnet CIDR</th>
        <th scope="col" class="govuk-table__header">Tag</th>
        <th scope="col" class="govuk-table__header">Shared Secret</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @site.clients.each do |client| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= client.ip_range %></td>
          <td class="govuk-table__cell"><%= client.tag %></td>
          <td class="govuk-table__cell"><%= client.shared_secret %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
