<nav>
  <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
    <% if user_signed_in? %>
      <li class="govuk-header__navigation-item<%= selected_class_if_controller('sites') %>">
        <%= link_to "Sites", sites_path, class: "govuk-header__link" %>
      </li>

      <li class="govuk-header__navigation-item<%= selected_class_if_controller('policies') %>">
        <%= link_to "Policies", policies_path, class: "govuk-header__link" %>
      </li>

      <li class="govuk-header__navigation-item<%= selected_class_if_controller('mac_authentication_bypasses') %>">
        <%= link_to "MAB", mac_authentication_bypasses_path, class: "govuk-header__link" %>
      </li>

      <li class="govuk-header__navigation-item<%= selected_class_if_controller('certificates') %>">
        <%= link_to "Certificates", certificates_path, class: "govuk-header__link" %>
      </li>


      <li class="govuk-header__navigation-item<%= selected_class_if_controller('audit_log') %>">
        <%= link_to "Audit log", audits_path, class: "govuk-header__link" %>
      </li>

      <li class="govuk-header__navigation-item">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "govuk-header__link" %>
      </li>
    <% end %>
  </ul>
</nav>
