<%= form_with model: policy, local: true do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :name) %>">
    <%= f.label :name, class: "govuk-label" %>
    <div id="name-hint" class="govuk-hint">
      Must contain the usage, environment, and VLAN ID in the following format: "USAGE_ENVIRONMENT_VLANXXX"<br />
      For example: MOJO_LAN_VLAN101, or DOM1_MOJWIFI_VLAN102
    </div>
    <%= f.text_field :name, maxlength: 255, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :description) %>">
    <%= f.label :description, class: "govuk-label" %>
    <%= f.text_area :description, maxlength: 1000, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group">
   <div id="name-hint" class="govuk-label">Action</div>
   <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <%= f.radio_button :default_accept?, true, checked: policy.default_accept?, class: "govuk-radios__input" %>
        <%= f.label :default_accept?, "Accept", class: "govuk-label govuk-radios__label" %>
      </div>
      <div class="govuk-radios__item">
        <%= f.radio_button :default_accept?, false, checked: policy.default_reject?, class: "govuk-radios__input" %>
        <%= f.label :default_accept?, "Reject", class: "govuk-label govuk-radios__label" %>
      </div>
    </div>
  </div>


  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", f.object.new_record? ? policies_path : policy,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  } %>

<% end %>
