<%= form_with model: policy, local: true do |f| %>
  <div class="govuk-form-group <%= field_error(f.object, :name) %>">
    <%= f.label :name, class: "govuk-label" %>
    <%= f.text_field :name, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group <%= field_error(f.object, :description) %>">
    <%= f.label :description, class: "govuk-label" %>
    <%= f.text_area :description, class: "govuk-input" %>
  </div>

  <div class="govuk-form-group">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <%= f.check_box :fallback, disabled: !f.object.new_record?, class: "govuk-checkboxes__input" %>
        <%= f.label :fallback, class: "govuk-label govuk-checkboxes__label" %>
      </div>
    </div>
  </div>

  <%= f.submit f.object.new_record? ? "Create" : "Update", {
    class: "govuk-button",
    "data-module" => "govuk-button"
  } %>

  <%= link_to "Cancel", f.object.new_record? ? policies_path : policy,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

<% end %>
