<div>
  <h2 class="govuk-heading-l">Policies</h2>

  <% if can? :create, Policy %>
    <%= link_to "Create a new policy", new_policy_path, class: "govuk-button" %>
  <% end %>

  <table class="govuk-table">
    <caption class="govuk-table__caption">List of policies</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">Fallback</th>
        <th scope="col" class="govuk-table__header">Created</th>
        <th scope="col" class="govuk-table__header">Updated</th>
        <th scope="col" class="govuk-table__header">Sites</th>
        <th scope="col" class="govuk-table__header">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @policies.each do |policy| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= policy.name %></td>
          <td class="govuk-table__cell"><%= policy.description %></td>
          <td class="govuk-table__cell"><%= policy.fallback ? "Yes" : "No" %></td>
          <td class="govuk-table__cell"><%= date_format(policy.created_at) %></td>
          <td class="govuk-table__cell"><%= date_format(policy.updated_at) %></td>
          <td class="govuk-table__cell"><%= link_to policy.sites.count, sites_path, class: "govuk-link" %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, Policy %>
              <%= link_to "Manage", policy_path(policy), class: "govuk-link" %>
              <%= link_to "Delete", policy_path(policy), class:"govuk-link", method: :delete %>
            <% else %>
              <%= link_to "View", policy_path(policy), class: "govuk-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @policies %>
