<div>
  <h2 class="govuk-heading-l">Policies</h2>

  <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
      <div>
        <% if can? :create, Policy %>
          <%= link_to "Create a new policy", new_policy_path, class: "govuk-button" %>
        <% end %>
        </div>
      </th>
      <%= search_form_for @q do |f| %>
        <th scope="col" class="govuk-table__header">
          <%= render "shared/type_ahead",
            form: f,
            field_name: :site_id,
            select_options: @sites.unshift(["All Sites (type to filter)", "All"]),
            options: { selected: @site_id },
            html_options: { id: "filter" },
            selector: "#filter"
          %>
          </div>
        </th>
        <th scope="col" class="govuk-table__header">
          <%= f.search_field :name_or_description_cont, class: "govuk-input govuk-input--width-10", id: "search" %>
          <%= f.submit "Search", { class: "govuk-button", "data-module" => "govuk-button" } %>
        </th>
      <% end %>
    </tr>
  </table>

  <table class="govuk-table">
    <caption class="govuk-table__caption">List of policies</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :name) %></th>
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :description) %></th>
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :fallback) %></th>
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :site_count, "Sites") %></th>
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :created_at, "Created") %></th>
        <th scope="col" class="govuk-table__header"><%= sort_link(@q, :updated_at, "Updated") %></th>
        <th scope="col" class="govuk-table__header govuk-table__narrow">
          <span class="govuk-visually-hidden">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @policies.each do |policy| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= policy.name %></td>
          <td class="govuk-table__cell"><%= policy.description %></td>
          <td class="govuk-table__cell"><%= policy.fallback ? "Yes" : "No" %></td>
          <td class="govuk-table__cell"><%= link_to policy.site_count, sites_path(:q => { :policy_id => policy.id }), class: "govuk-link" %></td>
          <td class="govuk-table__cell"><%= date_format(policy.created_at) %></td>
          <td class="govuk-table__cell"><%= date_format(policy.updated_at) %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, Policy %>
              <%= link_to "Manage", policy_path(policy), class: "govuk-link" %>
            <% else %>
              <%= link_to "View", policy_path(policy), class: "govuk-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @policies %>
