<h2 class="govuk-heading-l">
  <% if @policy.fallback? %>
    <span class="govuk-caption-l">Fallback</span>
  <% end %>
  Policy <%= @policy.name %>
</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Description</dt>
    <dd class="govuk-summary-list__value"><%= @policy.description %></dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to edit_policy_path(@policy), class: "govuk-link" do %>
        Change<span class="govuk-visually-hidden"> name</span>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Sites</dt>
    <dd class="govuk-summary-list__value"><%= @policy.site_count %></dd>
    <dd class="govuk-summary-list__actions">
      <%= link_to sites_path(:q => { :policy_id => @policy.id }), class: "govuk-link" do %>
        View<span class="govuk-visually-hidden"> sites</span>
      <% end %>
  </div>
</dl>

<% if (can? :create, Rule) && !@policy.fallback %>
  <%= link_to "Add rule", new_policy_rule_path(policy_id: @policy), class: "govuk-button" %>
<% end %>

<% if can? :create, Response %>
  <%= link_to "Add response", new_policy_policy_response_path(policy_id: @policy), class: "govuk-button" %>
<% end %>

<% if (can? :manage, Policy) && !@policy.fallback %>
  <%= link_to "Manage sites", policy_sites_path(policy_id: @policy), class: "govuk-button" %>
<% end %>

<% if @policy.rules.any? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption">List of rules</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Attribute</th>
        <th scope="col" class="govuk-table__header">Operator</th>
        <th scope="col" class="govuk-table__header">Value</th>
        <th scope="col" class="govuk-table__header">Created</th>
        <th scope="col" class="govuk-table__header">Updated</th>
        <th scope="col" class="govuk-table__header">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @policy.rules.each do |rule| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= rule.request_attribute %></td>
          <td class="govuk-table__cell"><%= rule.operator %></td>
          <td class="govuk-table__cell"><%= rule.value %></td>
          <td class="govuk-table__cell"><%= date_format(rule.created_at) %></td>
          <td class="govuk-table__cell"><%= date_format(rule.updated_at) %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, Rule %>
              <%= link_to "Edit", edit_policy_rule_path(policy_id: @policy, id: rule), class:"govuk-link" %>
              <%= link_to "Delete", policy_rule_path(policy_id: @policy, id: rule), class:"govuk-link", method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @policy.responses.any? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption">List of responses</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Attribute</th>
        <th scope="col" class="govuk-table__header">Value</th>
        <th scope="col" class="govuk-table__header">Created</th>
        <th scope="col" class="govuk-table__header">Updated</th>
        <th scope="col" class="govuk-table__header">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @policy.responses.each do |response| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= response.response_attribute %></td>
          <td class="govuk-table__cell"><%= response.value %></td>
          <td class="govuk-table__cell"><%= date_format(response.created_at) %></td>
          <td class="govuk-table__cell"><%= date_format(response.updated_at) %></td>
          <td class="govuk-table__cell">
            <% if can? :manage, Response %>
              <%= link_to "Edit", edit_policy_policy_response_path(policy_id: @policy, id: response), class:"govuk-link" %>
              <%= link_to "Delete", policy_policy_response_path(policy_id: @policy, id: response), class:"govuk-link", method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if can? :manage, Policy %>
  <% unless @policy.fallback? %>
    <%= link_to "Delete policy", policy_path(@policy), class:"govuk-button govuk-button--warning", method: :delete %>
  <% end%>
<% end%>
